/dev/oncrpc/*        0660   radio     radio
/dev/msm_camera/*    0777   graphics  graphics
/dev/bma020          0640   compass   system
/dev/graphics/fb0    0777   graphics  graphics
/dev/smdcntl0        0640   radio     radio
/dev/smdcntl1        0640   radio     radio
/dev/smdcntl2        0640   radio     radio
/dev/msm_preproc_ctl 0660   system    audio
/dev/genlock         0666   graphics  graphics
/dev/kgsl-3d0        0666   graphics  graphics


